header {
  margin: 0 0 3em 0;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

a {
  text-decoration: none;
  color: unset;
}

blockquote {
  font-style:italic;
}

ul {
  padding-left: 0;
}

.action-btn {
	position: fixed;
	right: 2em;
	bottom: 2em;
}

@media screen and (min-width: 800px) {
  .action-btn {
    right: 30%;
    bottom: 5em;
  }
}