.quote-detail {
    margin: 0 auto;
    padding: 0;
}

.quote-detail blockquote {
    padding: 1em 0 1em 1em;
    font-size: 1.2em;
}

.quote--book-info {
    margin: 1em 0;
}

.quote--book-info dt {
    font-weight: 700;
}

.quote--book-info dd {
    margin-left: 0;
    margin-bottom: 0.8em;
}

@media screen and (max-width: 800px) {
    .quote--book-info h2 {
        padding-bottom: 0;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 800px) {
    .quote-detail {
        padding: 2em;
    }

    .quote-detail blockquote {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1200px) {
    .quote-detail blockquote {
        font-size: 2em;
    }
}