.quote {
    margin: 1em;
    padding: 1em;
    max-width: 400px;
}

.quote blockquote {
    font-style:italic;
}

.quote span {
    font-size: 0.8em;
    text-align: right;
}

.quote span::before {
    content: '-';
    margin-right: 0.3em; 
}