<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Quotr{% endblock %}</title>
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotr/global.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="/" class="brand">
                <span>Quotr</span>
            </a>

            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">menu</label>

            <div class="menu">
                <a href="{% url 'quotes:list' %}" class="pseudo button icon-picture">Quotes</a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>