{% extends 'quotr/_layout.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quotes/book.css' %}">
{% endblock %}

{% block content %}
<h1>Books</h1>
<section class="flex one two-800 center">
  {% if book_list|length_is:"0" %}
  <p>You don't seem to have any books saved yet! Add some using the button below.</p>
  {% endif %}
  {% for book in book_list %}
  <article class="book card measure-narrow">
    <a href="{% url 'quotes:detail-book' book.id %}">
      <h2>{{book.title}}</h2>
    </a>
    <span>{{book.author}}</span>
  </article>
  {% endfor %}
</section>
<a data-tooltip="Add a book" class="action-btn tooltip-left" href="{% url 'quotes:new-book' %}">
  <i class="fas fa-plus-circle fa-3x"></i>
</a>
{% endblock %}