{% extends 'quotr/_layout.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quotes/book.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'quotes/book_detail.css' %}">
{% endblock %}

{% block content %}
{% include 'quotr/_back.html' %}
<div class="book book-detail measure">
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
</div>
<a data-tooltip="Edit this book" class="action-btn tooltip-left" href="{% url 'quotes:update-book' book.id%}">
    <i class="far fa-edit fa-2x"></i>
</a>
{% endblock %}