{% extends 'quotr/_layout.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_detail.css' %}">
{% endblock %}

{% block content %}
{% include 'quotr/_back.html' %}
<div class="quote quote-detail measure">
    <blockquote>{{quote.text}}</blockquote>
</div>
<a class="action-btn" href="{% url 'quotes:update' quote.id%}">
    <i class="far fa-edit fa-2x"></i>
</a>
{% endblock %}