{% extends 'quotr/_layout.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_detail.css' %}">
{% endblock %}

{% block content %}
{% include 'quotr/_back.html' %}
<div class="quote quote-detail measure">
    <blockquote>{{quote.text}}</blockquote>
</div>
<section class="quote--book-info">
    <h2>Book Information</h2>
    <dl>
        <dt>Title</dt>
        <dd><a class="link" href="{% url 'quotes:detail-book' quote.book.id %}">{{quote.book.title}}</a></dd>
        <dt>Author</dt>
        <dd>{{quote.book.author}}</dd>
    </dl>
</section>
<a data-tooltip="Edit this quote" class="action-btn tooltip-left" href="{% url 'quotes:update-quote' quote.id%}">
    <i class="far fa-edit fa-2x"></i>
</a>
{% endblock %}