{% extends 'quotr/_layout.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quotes/quote_list.css' %}">
{% endblock %}

{% block content %}
<h1>Quotes</h1>
<section class="flex one two-800 center">
  {% for quote in quote_list %}
  <article class="quote card">
    <a href="{% url 'quotes:detail' quote.id %}">
      <blockquote>{{quote.text}}</blockquote>
    </a>
    <span>{{quote.book.author}}</span>
  </article>
  {% endfor %}
</section>
<a class="action-btn" href="{% url 'quotes:new' %}">
  <i class="fas fa-plus-circle fa-3x"></i>
</a>
{% endblock %}